{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crime Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>

    </style>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light position-fixed rounded-pill shadow">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Veil Watch</a>
                <button class="navbar-toggler rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-sm btn-outline-success rounded-pill" href="#report">Report Crime</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div id="map"></div>
    <button class="create-report-btn btn btn-sm btn-success rounded-pill">Create Report</button>
    <button id="locate-btn" class="locate-btn btn btn-sm btn-success rounded-pill">My Location</button>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        const crimeReportsJson = '{{ crime_reports_json|escapejs }}';
        const crimeReports = JSON.parse(crimeReportsJson);
    </script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>